* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(250, 246, 246, 0.719);
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: 700;
}

body {
  /* background-image: url(./imagens/pexels-mateusz-dach-450035.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed; */
  /* background: url(./imagens/pexels-mateusz-dach-450035.jpg) no-repeat center center fixed; */
  background-color: #092f3f;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px solid #FFF; */
  /* box-shadow: 1px 1px 10px 1px #FFF; */
  /* border-bottom: 15px ridge #FFF; */
  border-bottom: 12px ridge #FFF;
  margin-bottom: 45px;
}

header ul {
  display: flex;
}

header ul li {
  padding: 5px;
  /* border-bottom: 2px dashed; */
  /* border-right: 2px dashed #FFF; */
}

header ul li a {
  transition: 300ms;
}

header ul li a:hover {
  color:aliceblue;
  text-decoration: underline;
}

header ul li:first-child {
  /* border-left: 2px dashed #FFF; */
}
.container {
  text-align: center;
}

.container .name h1 {
  font-size: 60px;
}

.container .name h5 {
  font-size: 25px;
}

#arrow {
  font-size: 35px;
  cursor: pointer;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
     visibility: hidden;
  }
}

#animation {
  transition: 300ms;
}

.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}

.active {
  display: block !important;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  width: 40%;
  margin: 0 auto;
  /* border: thick double #FFF; */
  /* padding: 20px; */
  margin-top: 30px;
}

.form input {
  width: 50%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  color: #021f2c;
  text-align: center;
  font-style: italic;
}

.form button {
  width: 16%;
  padding: 5px 10px;
  background: linear-gradient(to right, #021f2c 50%, cadetblue 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #FFF;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out; 
  border-radius: 0px 5px 5px 0px;
  margin-top: 20px;
  margin-left: -5px;
}

.form button:hover {
  background-position: left bottom;
}

@media only screen and (max-width: 810px) {
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container .name h1 {
    font-size: 30px;
  }
  
  .container .name h5 {
    font-size: 15px;
  }

  #about p {
    max-width: 80%;
    text-align: justify;
  }
}