* {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

/* #primeiro {
  border: 1px solid green;
  margin: 30px;
}

.segundo {
  border: 5px solid black;
  padding: 15px;
} */

/* .navigation nav span {
  color: indigo;
  text-decoration: underline;
  cursor: pointer;
} */

nav span {
  color: indigo;
  text-decoration: underline;
  cursor: pointer;
  transition: 300ms;
}

nav span:hover {
  text-decoration: underline;
  color: black;
  background-color: lightcoral;
}

#primeiro,
.segundo,
.navigation {
  border: 5px solid black;
  padding: 15px;
  margin: 5px;
}

.segundo > p {
  color: lawngreen /*!important*/; /*Caso houvesse o !important, o próximo seletor não funcionaria*/
}

.segundo > p {
  color: black;
}

.segundo > div {
  display: block !important;
}

/* Estes surgiram durante a aula sem uma explicação
  #primeiro p:first-child {
  color: green;
}

#primeiro p:last-child {
  color: lawngreen;
} */

#primeiro p:nth-child(3) {
  color: lawngreen;
}

