* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(250, 246, 246, 0.719);
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: 700;
}

body {
  /* background-image: url(./imagens/pexels-mateusz-dach-450035.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed; */
  /* background: url(./imagens/pexels-mateusz-dach-450035.jpg) no-repeat center center fixed; */
  background-color: #092f3f;
  background-size: cover;
}

.container {
  text-align: center;
}

.container .name h1 {
  font-size: 60px;
}

.container .name h5 {
  font-size: 25px;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  width: 40%;
  margin: 0 auto;
}

.form input {
  width: 50%;
}

.form button {
  width: 15%;
}